@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    background : #000;
    margin : 0;
    padding : 0;
}

.fireworkDiv{
  position : relative;
  height : 100vh;
  width : auto;
  background-color : #000;
 
}
button{
  
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  height: 50 px;
  width: 80px;
 position: absolute;
right: 43%;
bottom : 20%;
color: white;
display : flex;
justify-content : center;
align-items: center;
z-index: 2;
background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
border-radius:10px; 
padding:15px;
min-height:30px; 
min-width: 120px;
}
button:hover{
  width: 100px;
  height: 60px;
  box-shadow: 3px 8px #ffff
}

.star{
  width: 500px;
  position: absolute;
  

}

.move{
  display: none;
  
}

.moon{
  width: 100px;
  height: 50px;
  margin: 10px;
}

.isi{
  opacity: 0;
  animation: fadeInAnimation 10s ease-in-out forwards;
  font-size: 20px;
  font-family: 'Dancing Script', cursive;                                         
  color: white;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 42%;
bottom : 52%;
}

@keyframes fadeInAnimation {
  
  from {
    opacity: 0;
  }
  to {
    opacity: 5;
  }
}
.foto{
  width:100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
right: 45%;
bottom : 55%;
animation: fadeInAnimation 10s ease-in-out forwards;
}
.bungkus{
  di
}